body{
    margin: 32px;
    font-family: "Arial";
    background-color: #ccc;
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.title{
    font-size: 50px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-weight: 800;
}
.caption{
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.overlay{
    width: 100%;
    height: 100vh;
    background-color: #00ff0000;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
.test-select{
    margin-top: 32px;
    font-size: 17px;
    margin-bottom: 64px;
    width: 192px;
}
.prompt{
    font-size: 17px;
}
.input{
    font-size: 17px;
    width: 192px;
}
.submit{
    margin-left: 8px;
}
.q-cont{
    display: none;
}
.entry-l{
    margin-right: 8px;
}
.name{
    margin-bottom: 8px;
}
.author{
    margin-bottom: 16px;
}
.c-cont{
    display: none;
}
.qs-cont{
    width: 256px;
    height: 128px;
    background-color: #ffffff;
    border: 2px solid #000000;
    overflow: scroll;
    padding-bottom: 64px;
}
.qs-bar{
    width: 256px;
    height: 32px;
    background-color: #808080;
    border-bottom: 2px solid #000000
}
.q-add{
    font-size: 20px;
    height: 30px;
    width: 30px;
    margin: 1px;
}
.q{
    width: 256px;
    background-color: #bbbbbb;
    border-bottom: 2px solid #000000
}
.prompt{
    width: 240px;
    margin: 4px;
    height: 28px;
}
.answers{
    width: 240px;
    margin: 4px;
    height: 28px;
}
@keyframes overlay-correct{
    from{background-color: #00ff00aa}
    to{background-color: #00ff0000}
}
@keyframes overlay-wrong{
    from{background-color: #ff0000aa}
    to{background-color: #ff000000}
}
